$primary: #fca82f;

a {
  text-decoration: none !important;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  justify-content: center !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
