@import "../../styles/_colors.scss";

.logo-ctn {
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 1px;
  z-index: 9999;
  .logo-quiz {
    display: inline-block;
    color: $darkGrey;
    font-weight: 500;

    &::first-letter {
      color: red;
      font-weight: 600;
    }
  }

  .logo-app {
    color: $primary;
    font-weight: 600;
  }
}

// span::first-letter {
//   color: red;
// }
