// @import "../../styles/_colors.scss";

// .login-ctn {
//   background-color: $white;
// }

.login-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.login-img {
  width: 10rem;
}

.login-form {
  width: 14rem;
}

.third-part-login-ctn {
  p {
    text-align: center;
  }
}
// .btn-custom {
//   // background-color: $btnBgcolor;
//   width: 9.5rem;
// }
